<div class="box">
	<article class="media">
		<figure class="media-left">
			<p class="image is-48x48 user-thumb">
				<%= gravatar_for(comment.user,size: 48) %>
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<p>
					<strong><%= comment.name %></strong>
				</p>
				<p>
					<strong><%= comment.response %></strong>
				</p>
			</div>
		</div>


<% if (user_signed_in? && (current_user.id == comment.user_id ) )%>
	<%= link_to 'Delete',[comment.shot ,comment],method: :delete ,class: "button is-danger" ,data: {confirm: "Are you sure"}%>

<% end %>

	</article>
</div>
